# Dependencies
node_modules/

# Builds
dist/
build/

# Env
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# Prisma
backend/prisma/*.db

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Vite
frontend/dist/

# Docker volumes (if named volume is used instead of bind mount)
data/
